In [12]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
#         print(os.path.join(dirname, filename))
        pass
# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [13]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn as sk

In [14]:
df_1 = pd.read_csv('/kaggle/input/rural-health-statistics-india2005-2019-2020/rhs_2005.csv')
df_2 = pd.read_csv('/kaggle/input/rural-health-statistics-india2005-2019-2020/rhs_2019.csv')

In [15]:
df_1.head()

,State/UT,SubCenters,PHCs,CHCs,ANM/Health_Worker_Female,Doctors,Specialists,Radiographers,Pharmacists,LabTechinicians,NursingStaff
0,Andhra Pradesh,12522,1570,164,13740,2137,224,140,1637,1437,2053
1,Arunachal Pradesh,379,85,31,454,78,0,22,31,18,105
2,Assam,5109,610,100,5719,NaN,NaN,NaN,NaN,NaN,NaN
3,Bihar,10337,1648,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chhattisgarh,3818,517,116,3667,628,18,95,467,348,540

In [16]:
df_1

,State/UT,SubCenters,PHCs,CHCs,ANM/Health_Worker_Female,Doctors,Specialists,Radiographers,Pharmacists,LabTechinicians,NursingStaff
0,Andhra Pradesh,12522,1570,164,13740,2137,224,140,1637,1437,2053
1,Arunachal Pradesh,379,85,31,454,78,0,22,31,18,105
2,Assam,5109,610,100,5719,NaN,NaN,NaN,NaN,NaN,NaN
3,Bihar,10337,1648,101,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Chhattisgarh,3818,517,116,3667,628,18,95,467,348,540
5,Goa,172,19,5,179,53,7,7,27,25,119
6,Gujarat,7274,1070,272,6508,848,92,113,807,870,1453
7,Haryana,2433,408,72,2818,862,49,106,464,231,1160
8,Himachal Pradesh,2068,439,66,1790,467,NaN,54,375,462,1259
9,Jharkhand,4462,561,47,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,Karnataka,8143,1681,254,8544,2041,691,30,1880,1451,3100
11,Kerala,5094,911,106,5565,949,82,16,858,358,2578
12,Madhya Pradesh,8874,1192,229,9345,839,49,NaN,216,386,902
13,Maharashtra,10453,1780,382,10699,3158,1099,159,2055,1709,2575
14,Manipur,420,72,16,463,67,19,5,88,30,62
15,Meghalaya,401,101,24,608,123,1,26,121,134,263
16,Mizoram,366,57,9,345,35,0,NaN,35,31,122
17,Nagaland,394,87,21,342,53,0,11,85,45,520
18,Odisha,5927,1282,231,6768,1353,NaN,8,1984,311,637
19,Punjab,2858,484,116,2602,373,226,57,811,600,640
20,Rajasthan,10512,1713,326,11425,1506,581,269,2355,2065,8425
21,Sikkim,147,24,4,260,48,4,5,3,32,45
22,Tamil Nadu,8682,1380,35,10112,2257,48,28,1252,861,167
23,Telangana,-,-,-,-,-,-,-,-,-,-
24,Tripura,539,73,10,561,152,2,4,63,43,274
25,Uttarakhand,1576,225,44,1486,182,71,30,281,32,129
26,Uttar Pradesh,20521,3660,386,18146,NaN,NaN,NaN,NaN,NaN,NaN
27,West Bengal,10356,1173,95,9070,1319,133,77,1231,341,1479
28,A& N Islands,107,20,4,127,36,0,4,28,24,108
29,Chandigarh,13,0,1,13,0,4,1,6,2,13
30,Dadra & Nagar Haveli,38,6,1,38,6,2,1,8,7,10
31,Daman & Diu,21,3,1,24,5,0,1,4,4,12
32,Delhi,41,8,0,51,23,0,0,11,5,4
33,Jammu & Kashmir,1879,334,70,1588,643,142,61,456,395,68
34,Ladakh,-,-,-,-,-,-,-,-,-,-
35,Lakshadweep,14,4,3,22,4,0,3,11,7,13
36,Puducherry,76,39,4,115,63,6,4,58,20,95
37,All India Total,146026,23236,3346,133194,20308,3550,1337,17708,12284,28930

In [ ]:
df_1=df_1.drop([34,23],axis=0)

In [ ]:
df_1.isnull().sum()

In [ ]:
df_1.fillna(0, inplace=True)

In [ ]:
for column in df_1.columns:
    if column!='State/UT':
        df_1[column] = df_1[column].astype(int)

In [ ]:
df_1.isnull().sum()

In [ ]:
df_1.head()

In [ ]:
df_1.info()

In [ ]:
df1 = df_1.drop(37,axis=0)

In [ ]:
df_1['LabTechnicians'] = df_1['LabTechinicians']
df_1 = df_1.drop('LabTechinicians',axis=1)

In [ ]:
var = 'Doctors'
sorted_df = df1.sort_values(var, ascending=False)
sorted_df = sorted_df[sorted_df[var]<=20]
plt.bar(sorted_df['State/UT'], sorted_df[var])
plt.xticks(rotation=90)
plt.xlabel('State/UT')
plt.ylabel(var)
plt.ylim(0,20)
plt.show()

In [ ]:
var = 'Specialists'
sorted_df = df1.sort_values(var, ascending=False)
sorted_df = sorted_df[sorted_df[var]<=20]
plt.bar(sorted_df['State/UT'], sorted_df[var])
plt.xticks(rotation=90)
plt.xlabel('State/UT')
plt.ylabel(f'{var}')
plt.ylim(0,20)
plt.show()

In [ ]:
var = 'LabTechnicians'
sorted_df = df1.sort_values(var, ascending=False)
sorted_df = sorted_df[sorted_df[var]<=20]
plt.bar(sorted_df['State/UT'], sorted_df[var])
plt.xticks(rotation=90)
plt.xlabel('State/UT')
plt.ylabel(f'{var}')
plt.ylim(0,20)
plt.show()

In [ ]:
var = 'Pharmacists'
sorted_df = df1.sort_values(var, ascending=False)
sorted_df = sorted_df[sorted_df[var]<=20]
plt.bar(sorted_df['State/UT'], sorted_df[var])
plt.xticks(rotation=90)
plt.xlabel('State/UT')
plt.ylabel(f'{var}')
plt.ylim(0,20)
plt.show()

In [ ]:
df_2

In [ ]:
df_2 = df_2.drop([34,37],axis=0)

In [ ]:
df_2

In [ ]:
df_2.info()

In [ ]:
df_2.isnull().sum()

In [ ]:
for column in df_2.columns:
    if column!='State/UT':
        df_2[column] = df_2[column].astype(int)

In [ ]:
df_2.info()

In [ ]:
import matplotlib.pyplot as plt

plt.figure(figsize=(16, 6))

plt.scatter(df_1['State/UT'], df_1[var], label='2005')
plt.scatter(df_2['State/UT'], df_2[var], label='2019')

plt.xlabel('States')
plt.ylabel(f'Number of {var}')
plt.title('2005 Vs 2019')
plt.ylim(0,2000)
plt.xticks(rotation=90)
plt.legend()

plt.show()

In [ ]:
var = 'Specialists'
plt.figure(figsize=(16, 6))

plt.scatter(df_1['State/UT'], df_1[var], label='2005')
plt.scatter(df_2['State/UT'], df_2[var], label='2019')

plt.xlabel('States')
plt.ylabel(f'Number of {var}')
plt.title('2005 Vs 2019')
plt.ylim(0,1100)
plt.xticks(rotation=90)
plt.legend()

plt.show()

In [ ]:
var = 'LabTechnicians'
plt.figure(figsize=(16, 6))

plt.scatter(df_1['State/UT'], df_1[var], label='2005')
plt.scatter(df_2['State/UT'], df_2[var], label='2019')

plt.xlabel('States')
plt.ylabel(f'Number of {var}')
plt.title('2005 Vs 2019')
plt.ylim(0,1100)
plt.xticks(rotation=90)
plt.legend()

plt.show()

In [ ]:
var = 'Pharmacists'
plt.figure(figsize=(16, 6))

plt.scatter(df_1['State/UT'], df_1[var], label='2005')
plt.scatter(df_2['State/UT'], df_2[var], label='2019')

plt.xlabel('States')
plt.ylabel(f'Number of {var}')
plt.title('2005 Vs 2019')
plt.ylim(0,1100)
plt.xticks(rotation=90)
plt.legend()

plt.show()